<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/MarcoMorawec">Kyle</a>. A web developer who is on a mission to give people the technical skills needed to launch their own MVPs and turn ideas into reality.
  </p>
  <br />
 
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'my_pic.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Kyle Mays</h2>
      <br />
      <p>
        Kyle Mays is a web developer born and raised in the Napa Valley. Kyle naturally was immersed in the wine culture. His passion for tech and becoming a software developer drew him to combine both wine and web development together.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
  <br />


</div>